body {
    font: 14px 'Verdana';
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    float: left;
    position: relative;
}

ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #422dff;
    text-decoration: none;
}

ul.menu > li > a:hover {
    background-color: #857ae7;
}

ul.dropdown {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid #422dff;
}

ul.dropdown > li {
    display: block;
}

ul.dropdown > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #422dff;
    text-decoration: none;
}

ul.dropdown > li > a:hover {
    text-decoration: underline;
}

ul.visible {
    display: block;
}