* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#timer {
    width: 60%;
    margin: auto;
    padding: 0.3em;
    background-color: #ecb7b7;
    border: 0.02em dashed #ad0404;
    box-shadow: 10px 10px 20px black;
    font-family: monospace;
    border-radius: 0.08em;
    font-size: 100px;
    color: #ad0404;
}