<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
    <script>firebase.initializeApp({databaseURL: "https://todos-789b9.firebaseio.com/"});</script>
    <script src="./main.js"></script>
</head>

<body>
    <div id="app">
        <!-- <div class="todo-list">
            <h1>TODOLIST</h1>
            <div class="app__main-input">
                <input @keydown.ENTER="editManager.status ? editTodo() :addTodo()" v-model="text" type="text" class="input">
                <button v-if="!editManager.status" @click="addTodo">add todo</button>
                <button v-else @click="editTodo">edit</button>
            </div>
            <todo v-for="(todo) in todos" :content="todo.text" @remove-todo="remove(todo.id)" @edit-todo="edit(todo.text)"></todo>
        </div> -->
        <div class="app__lists-input">
            <input v-model="listsText" type="text" class="input">
            <button v-if="!listsEditManager.status" @click="addList">add list</button>
            <button v-else @click="editList">edit</button>
        </div>
        <div class="lists-container">
            <todo-list v-for="list in lists" :listname="list" @remove-list="removeList(list)"></todo-list>
        </div>
    </div>
</body>

</html>